* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post {
    background-color: #34495e;
    border-radius: 20px;
    padding: 21px;
}
.post-1 {
   margin-bottom: 10px;
}

.post-2 {
    margin-bottom: 10px;
}
